/* CSS for centering the DropdownButton */
.center-dropdown {
  display: flex;
  justify-content: center;
}



.btn-primary{
      background-color: white !important;
        color: black !important;
        border-radius: 15px !important;
        width: 250px !important;
        text-align: center !important;
}
